<!DOCTYPE html>
<html>

<head>
    <title>EM Motors Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="icon" href="/images/auto_favi.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/admin.css">

    {{!-- Icons --}}
    <script src="https://kit.fontawesome.com/f7b393d83e.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<body style="margin: 2% 2%;">



    <h3>Add Gas</h3>

    <form action="addgas" method="POST" autocomplete="off">

        <div class="form-row">
            <div class="form-group col-md-10">
                <label>ImagePath (image/filename.extension)</label>
                <input type="file" class="form-control" name="imagePath" placeholder="images/mus.jpg" required >
            </div>


            <div class="form-group col-md-3">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="2019 Ford Mustang" required>
            </div>

            <div class="form-group col-md-2">
                <label>Year</label>
                <input type="number" class="form-control" name="year" placeholder="2019">
            </div>
            <div class="form-group col-md-2">
                <label>Price</label>
                <input type="number" class="form-control" name="price" placeholder="58100">
            </div>
            
            <div class="form-group col-md-2">
                <label>Mileage</label>
                <input type="text" class="form-control" name="mileage" placeholder="19">
            </div>


            <div class="form-group col-md-2">
                <label>Cc</label>
                <select id="engineCapacity" class="form-control"></select>

                {{!-- <input type="number" step=1 class="form-control" name="engine" placeholder="Enter engine capacity"> --}}
            </div>
            
            <div class="form-group col-md-3">
                <label>Gearbox</label>
                <select id="gearbox" class="form-control">
                    <option value="manual">Manual Transmission</option>
                    <option value="automatic">Automatic Transmission</option>
                    <option value="cvt">Continuously Variable Transmission (CVT)</option>
                    <option value="dct">Dual-Clutch Transmission (DCT)</option>
                    <option value="smt">Sequential Manual Transmission (SMT)</option>
                    <option value="amt">Automated Manual Transmission (AMT)</option>
                    <option value="hybrid">Hybrid Transmission</option>
                </select>

                {{!-- <input type="text" class="form-control" name="gearbox" placeholder="6-Speed SelectShift"> --}}
            </div>


            <div class="form-group col-md-3">
                <label>Color</label>
                <select class="form-control" id="carColors">
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                    <option value="black">Black</option>
                    <option value="white">White</option>
                    <!-- Add more color options as needed -->
                </select>

                {{!-- <input type="text" class="form-control" name="colour" placeholder="Twister Orange"> --}}
            </div>
            <div class="form-group col-md-3">
                <label>Interior</label>
                <select class="form-control" id="interiorOptions">
                    <option value="leather">Leather</option>
                    <option value="cloth">Cloth</option>
                    <option value="suede">Suede</option>
                    <option value="alcantara">Alcantara</option>
                    <option value="synthetic">Synthetic</option>
                    <!-- Add more interior options as needed -->
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Body</label>
                <select class="form-control" id="bodyOptions">
                    <option value="sedan">Sedan</option>
                    <option value="hatchback">Hatchback</option>
                    <option value="SUV">SUV</option>
                    <option value="crossover">Crossover</option>
                    <option value="coupe">Coupe</option>
                    <option value="convertible">Convertible</option>
                    <option value="pickup">Pickup Truck</option>
                    <option value="van">Van</option>
                    <option value="wagon">Station Wagon</option>
                    <option value="sports">Sports Car</option>
                    <option value="luxury">Luxury Car</option>
                    <!-- Add more body options as needed -->
                </select>

                {{!-- <input type="text" class="form-control" name="body" placeholder="2 Door Coupe"> --}}
            </div>
            <div class="form-group col-md-2">
                <label>Drivetrain</label>
                <select class="form-control" id="driveTerrain">
                    <option value="2wd">2WD (Two-Wheel Drive)</option>
                    <option value="4wd">4WD (Four-Wheel Drive)</option>
                    <option value="awd">AWD (All-Wheel Drive)</option>
                    <option value="fwd">FWD (Front-Wheel Drive)</option>
                    <option value="rwd">RWD (Rear-Wheel Drive)</option>
                    <!-- Add more drive terrain options as needed -->
                </select>

                {{!-- <input type="text" class="form-control" name="drivetrain" placeholder="RWD"> --}}
            </div>
            <div class="form-group col-md-4">
                <label>Wheel</label>
                <select class="form-control" id="wheelOptions">
                    <option value="13">13-inch Wheels</option>
                    <option value="14">14-inch Wheels</option>
                    <option value="15">15-inch Wheels</option>
                    <option value="16">16-inch Wheels</option>
                    <option value="17">17-inch Wheels</option>
                    <option value="18">18-inch Wheels</option>
                    <option value="19">19-inch Wheels</option>
                    <option value="20">20-inch Wheels</option>
                    <option value="21">21-inch Wheels</option>
                    <option value="22">22-inch Wheels</option>
                    <!-- Add more wheel options as needed -->
                </select>

                {{!-- <input type="text" class="form-control" name="wheel" placeholder="18'' Aluminium Wheels"> --}}
            </div>


            <div class="form-group col-md-7">
                <label>Description</label>
                <input type="text" class="form-control" name="description" placeholder="Description Info">
            </div>
            <div class="form-group col-md-7">
                <label>Safety</label>
                <input type="text" class="form-control" name="safety" placeholder="Safety Info">
            </div>
            <div class="form-group col-md-7">
                <label>Technology</label>
                <input type="text" class="form-control" name="technology" placeholder="Tech Info">
            </div>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-info"> Save </button>
            <a class="btn btn-secondary" href="gas"> Back </a>
        </div>
    </form>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {{!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

        <script>
            var select = document.getElementById("engineCapacity");

            for (var i = 900; i <= 6000; i += 100) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i + "cc";
            select.appendChild(option);
            }

        </script>


</body>

</html>